[submodule "extern/CommonLibSSE"]
	path = extern/CommonLibSSE
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibSSE.git

[submodule "extern/CommonLibAE"]
	path = extern/CommonLibAEVR
	url = https://github.com/Exit-9B/CommonLibSSE/tree/vr.git